<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624595173117-nlpmsslurjvq7qjjvbtmpbdqqn4miec6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624595173117-nlpmsslurjvq7qjjvbtmpbdqqn4miec6</string>
	<key>API_KEY</key>
	<string>AIzaSyDtH1JX6aBVbfLa3Cru5h09A3a7PQGTO9U</string>
	<key>GCM_SENDER_ID</key>
	<string>624595173117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akmilabs.internationalStudentApp</string>
	<key>PROJECT_ID</key>
	<string>international-student-4a94a</string>
	<key>STORAGE_BUCKET</key>
	<string>international-student-4a94a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624595173117:ios:b76bc5d623a0cf64484894</string>
</dict>
</plist>